<div class="container-fluid">

            <div class="col-md-2" ng-repeat="record in records">

                <a ui-sref="bookDetail({bookId: record.id})" class="thumb">
                    <img class="img-responsive" ng-src='{{record.image}}' alt="{{record.name}}" />
                    <div class="caption">
                        <p>{{record.name}}</p>
                        <ul ng-repeat="author in record.authors">
                            <li>{{author.name}}</li>
                        </ul>
                    </div>
                </a>

            </div>
</div>

  

